button{
    text-align: center;
    font-size: 18px;
}

div p{
    text-align: center;
    font-size: 18px;
}

ul{
    list-style: none;
}

li span {
    margin-left: 10px;
    justify-content: center;
}